* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spectral', serif;

/*	font-family: 'Special Elite', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Arvo', serif;
	font-family: 'Aref Ruqaa', serif;*/
}


/*landing page*/

#nav-page {
	background-color: #91081f;
}

#ft-logo {
	border-radius: 20%;
	margin-left: 55%;
	height: 4%;
	width: 4%;
}


.btn a {
	text-decoration: none;
	color: #fff; /*white*/
}

#jumbo-land {
	background-image: url(../images/glass.jpeg); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	scroll-behavior: none;
	height: 100vh;
	padding-top: 20%;
	border-radius: 0; /*remove jumbo's rounded corner*/
}

.jumbotron h1 {
	color: #f2f2f2;
}

.jumbotron {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	scroll-behavior: none;
}

/*#navbar-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -10px;
}*/

#navbar-right {
	left: 100%;
}

#front-page {
	max-width: 60vh;
	border: 5px solid white;

}

#fret-top {
	text-transform: uppercase;
	letter-spacing: 2px;
}

#search-box {
	border-radius: 10px;
	width: 90%;
}

#search-icon {
	margin-top: 2%;
	margin-left: 2%;
	color: white;
}

#media-logo {
	margin-left: 80%;
}

img[alt*="media"] {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	display: block;
	float: left;
	margin-top: 0;
	margin-right: 10px;
}

#menu-icon {
	color: #f25f04;
	letter-spacing: 2px;
	font-family: 'Arvo', serif;
}

#menu {
	background-color: #91081f;
	border: 1px solid white;
}



/*end landing page*/

/*home*/

#Btop {
	font-family: 'Special Elite', cursive;
	padding: 0;
	background-color: #700700;
	float: right;
}

#jumbo-home {
	background-image: url(../images/place.jpeg);
	height: 100vh;
	padding-top: 20%;
	background-color: #333;
	border-radius: 0; /*remove jumbo's rounded corner*/
}


/*end home*/

/*contact*/

#jumbo-contact {
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	scroll-behavior: none;
	height: 80vh;
	border-radius: 0; /*remove jumbo's rounded corner*/
}

#contact-img {
	margin-top: 5%;
	height: 100%;
	width: 100%;
}


/*end contact*/

/*about*/

#boxx {
	background-color: white;
	color: black;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	border-left: 20px solid #91081f;
	border-right: 20px solid #91081f;
	border-bottom: 1px solid black;
}

.footer {
	background-color: #91081f;
	width: 100%;
	margin-bottom: 0;
	font-family: 'Aref Ruqaa', serif;
	letter-spacing: 2px;
}

.footer-icon {
	float: right;
}

/*end about*/

/*register*/

#register {
	border: 2px solid black;
}
.radio-button {
	position: absolute;
	left: 50%;
}

#create {
	margin-left: 10%;
}

/*end register*/

