* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spectral', serif;

/*	font-family: 'Special Elite', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Arvo', serif;
	font-family: 'Aref Ruqaa', serif;*/
}


/*landing page*/

#nav-page {
	background-color: #91081f;
}

#ft-logo {
	border-radius: 20%;
	margin-left: 64%;
	height: 4%;
	width: 4%;
}


.btn a {
	text-decoration: none;
	color: #fff; /*white*/
}

#jumbo-land {
	background-image: url(../images/glass.jpeg); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	scroll-behavior: none;
	height: 100vh;
	padding-top: 20%;
	border-radius: 0; /*remove jumbo's rounded corner*/
	/*overflow-y: hidden;*/
}

.jumbotron h1 {
	color: #f2f2f2;
}

.jumbotron {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	scroll-behavior: none;
}

/*#navbar-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -10px;
}*/

#navbar-right {
	left: 100%;
}

#front-page {
	max-width: 60vh;
	border: 5px solid white;

}

#fret-top {
	text-transform: uppercase;
}

#search-box {
	border-radius: 10px;
}

#search-icon {
	margin-top: 3%;
}

#media-logo {
	margin-left: 80%;
}

img[alt*="media"] {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	display: block;
	float: left;
	margin-top: 0;
	margin-right: 10px;
}

/*end landing page*/

/*home*/

#Btop {
	font-family: 'Special Elite', cursive;
	padding: 0;
	background-color: #700700;
	float: right;
}

#jumbo-home {
	background-image: url(../images/place.jpeg);
	height: 100vh;
	padding-top: 20%;
	background-color: #333;
	border-radius: 0; /*remove jumbo's rounded corner*/
}

#nav-home {
	background-color: #91081f;
}

#home-footer {
	background-color: #8c2e30;
}

/*end home*/

/*contact*/
#nav-con {
	background-color: #91081f;
}


/*end contact*/

/*about*/

#nav-about {
	background-color: #91081f;
}

/*end about*/


/*register*/
#jumbo-div {
	border: 5px solid white;
}

#nav-reg {
	background-color: #8c2e30;
}

/*end register*/

